apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: ca-issuer
spec:
  acme:
    email: {{ .Values.app.email }}
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: issuer-key
    solvers:
    - dns01:
        cloudflare:
          email: {{ .Values.app.email }}
          apiTokenSecretRef:
            name: cloudflare-api-token
            key: dns-cloudflare-api-token
