apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-app"
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": post-install
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "sb.serviceAccountName" . }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      initContainers:
        - name: wait-for-mysql
          image: busybox:latest
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', 'until nc -vz ${SVC_NAME} 3308; do echo "Waiting for mysql db..."; sleep 3; done;']
          env:
            - name: SVC_NAME
              value: {{ include "sb.fullname" . }}-db-svc
      containers:
        - name: post-install-job
          image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default .Chart.AppVersion }}"
          command: ["/bin/bash"]
          args:
            - "-c"
            - >-
              git clone --single-branch --branch {{ .Values.migration.branch }} {{ .Values.migration.repoUrl }} &&
                /app/api
          env:
            - name: ENV
              value: "prod"
            - name: MIGRATOR
              value: "true"
            - name: CRED_PATH
              value: /run/secrets/db/cred.env
            - name: GIT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "sb-git-token"
                  key: token
          volumeMounts:
            - name: config
              mountPath: "/app/envs"
            - name: db-connection
              mountPath: "/run/secrets/db"
      restartPolicy: {{ .Values.migration.job.restartPolicy }}
      volumes:
        - name: config
          configMap:
            name: {{ include "sb.fullname" . }}-post-install-config
            items:
            - key: "prod.env"
              path: "prod.env"
        - name: db-connection
          secret:
            secretName: sb-db
            items:
            - key: dns
              path: cred.env
            defaultMode: 0400
      dnsConfig:
        options:
          - name: ndots
            value: {{ .Values.dnsConfig.ndots | quote }}
