apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sb.fullname" . }}-auth-config
  annotations:
    "kubernetes.io/service-account.name": {{ include "sb.serviceAccountName" . }}
data:
  prod.env: |
    DB_PORT={{ .Values.db.service.port }}
    DB_SVC="{{ include "sb.fullname" . }}-db-svc"
    PORT=":{{ .Values.auth.service.targetPort }}"
    JWT_REFRESH_TOKEN_EXP_ON=24
    JWT_TOKEN_ISSUER=sb-auth
    JWT_TOKEN_EXP_ON=15
    JWT_PRIVATE_KEY_PATH=/run/secrets/sb/id_ecdsa
