defaultVaultConnection:
  enabled: true
  address: "https://192.168.50.77:8200"
  skipTLSVerify: false
  caCertSecret: vault-crt
controller:
  manager:
    logging:
      level: debug
      stacktraceLevel: error
    clientCache:
      persistenceModel: direct-encrypted
      storageEncryption:
        enabled: true
        mount: k8s-2
        keyName: vso-client-cache
        transitMount: sb-transit
        kubernetes:
          role: auth-role-operator
          serviceAccount: vso-operator-sa
          tokenAudiences: ["vault", "https://kubernetes.default.svc.cluster.local"]
