defaultVaultConnection:
  enabled: true
  address: "https://192.168.50.76:8200"
  skipTLSVerify: true
  # caCertSecret: vault-cert-key
controller:
  manager:
    logging:
      level: debug
      stacktraceLevel: error
    clientCache:
      persistenceModel: direct-encrypted
      storageEncryption:
        enabled: true
        mount: k8s
        keyName: vso-client-cache
        transitMount: sb-transit
        kubernetes:
          role: auth-role-operator
          serviceAccount: vso-operator-sa
          tokenAudiences: ["vault", "https://kubernetes.default.svc.cluster.local"]
